.canvas{
    width: 118px;
    height: 200px;
    margin: 50px auto;
    text-align: center;
    box-sizing: border-box;
}

.bulb-off{
    width: 118px;
    height: 200px;
    background: url("switchoff.png") no-repeat;
    margin: auto;
}

.bulb-on{
    width: 118px;
    height: 200px;
    background: url("switchon.png") no-repeat;;
    margin: auto;
}
