.canvas{ /* "borders" to switch off/on.png */ 
    width: 118px;
    height: 200px;
    position    : fixed;
    bottom      : 10px;
    left        : 50%;
    margin-left : -100px; /* almost half the width of png */
    box-sizing: border-box;
}
.bulb { /* ground state */
    width: 118px; 
    height: 200px; 
    background: url("switchoffdark.png") no-repeat; 
    margin: auto; 
} 
    
.bulb.bulb-on { /* from groundstate the bulb is switched on, .bulb to .bulb-on and back */
    background: url("switchon.png") no-repeat; 
}

@media (min-width: 801px) {  /* responsive design */
.canvas {
    width:100%
}
} 
@media (max-width: 800px) { 
.canvas {
    width: 49.99999%;
}
} 
    
